@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Introduction Part-->
<div class="who">
    <h1>We at Veni Vidi Vici Travel enable travelers like us to experience Italy.</h1>
</div>
<!--Introduction Part End-->
<!--We Part-->
<div class="head4"><h2>What We Do ? </h2></div>
<div class="we">
    <p class="parag3">We offer you the opportunity to discover the history, culture and natural beauties of Italy in the best way possible. The awards we have received reflect our commitment to providing you with a quality service. Our vision of being a pioneer in the travel industry is crowned with our innovative approach. Our innovative tour concepts and specially designed routes are designed to give you unforgettable memories. Each of our tours is different from each other, new routes, restaurants, cafes, hotels, historical places, we rediscover with you. Our tours not only offer the opportunity to explore historical and natural beauties, but also give you the chance to interact with different cultures. We offer you not only a holiday, but also an adventure.</p>
    <img class="job" src="~/Content/images/team.PNG" alt="Team Photo">
</div>
<!--We Part End-->
<!--Our Story Part-->
<div class="head1"><h2>Our Story</h2></div>
<div class="ourStory">
    <p class="parag1">Every moment in this dreamlike nation, with its scorching Italian heat, ancient sites, and delectable cuisine, has a tale to tell. Being a part of these tales makes us extremely proud as well. It was during one of these travels when our true story started.We made the decision to spend the evening at the hotel house. We were discussing how wonderful it is to go to new places, make friends with strangers, and experience daily wonder. We made the decision to launch our own travel company at that point. We are the finest at what we do because of our unwavering passion.</p>
    <img class="workplace" src="~/Content/images/workplace.PNG" alt="Our Work Place">
</div>
<!--Our Story Part End-->
<!--Achievements Part-->
<div class="head2"> <h2>Our Achievements</h2></div>
<div class="awards">
    <p class="parag2">
        After years of dedication and passion in the travel industry, our company has received numerous honors and recognitions. These accomplishments demonstrate our commitment to giving you the greatest possible travel experience.<br />
        Because of our dedication to sustainable tourism and emphasis on client satisfaction, our company has received numerous excellence awards. <br />
        We have won the "Best Tour Company" award numerous times for our innovative and leadership-focused approach to the travel business. Every tour we offer gives you the chance to interact with people from many cultural backgrounds and create one-of-a-kind, life-long experiences.
    </p>
    <img class="award_team" src="~/Content/images/ödül.PNG" alt="Awards Photo">
</div>
<!--Achievements Part-->
<!--Team Part-->
<div class="team">
    <div class="head3"><h1>Team</h1></div>
    <div class="ceo">
        <img class="ceo_photo" src="~/Content/images/aysee.jpeg" alt="CEO Photo">
        <h3 class="ayse">Ayşe Yiğen, CEO</h3><br>
        <p class="carierA">
            I am the travel agency's manager. I am in charge of the management and general strategy. I establish the company's long-term objectives and develop business plans.
        </p>
    </div>

    <div class="coo">
        <img class="coo_photo" src="~/Content/images/hatice.jpeg" alt="COO photo">
        <h3 class="hatice">Hatice Demir, COO</h3><br />
        <p class="carierH">
            I am responsible for the regulation of operational processes and daily work. I develop continuous improvement strategies to increase operational efficiency.
        </p>
    </div>

    <div class="cmo">
        <img class="cmo_photo" src="~/Content/images/sena.jpeg" alt="CMO Photo">
        <h3 class="sena">Sena Eraydın, CMO</h3><br />
        <p class="carierS">
            The company's marketing efforts and plans fall under my responsibility. Public relations, digital marketing, brand management and advertising are some of the areas I work in.
        </p>
    </div>

</div>
<div class="video_container">

    <div class="videoDetail">
        <video controls>
            <source src="~/Content/images/videoo.mp4" type="video/mp4">
        </video>
    </div>
</div>
<!--Team Part End-->
<!--Conclusion Part-->
<div class="conclusion">
    <div class="ready">
        <h2>Are you ready for adventure with us?</h2>
    </div>
    <P>We enjoy every moment we spend with you while exploring the beauty of Italy and creating priceless memories. We make every effort to ensure that you have the best possible experience. Are you ready to travel to Italy with us?</P>
</div>
<!--Conclusion Part End-->
