
@{
    ViewBag.Title = "TravelPhotos";
}

<div class="places" style="display: flex; flex-wrap: wrap;">

    <div class="towns">
        <img src="~/Content/images/travel_photos-1.png" style="width: 90%; margin: 20px 20px;" alt="Positano">
        <p>"Wandering through the historical streets of Florence, I felt the breathtaking traces of the Renaissance." -Mia</p>
    </div>
    <div class="towns">
        
        <img src="~/Content/images/travel_photos-2.jpg" style="width: 90%; margin: 20px 20px;" alt="Sorrento">
        <p>
            "Walking around the Roman Forum, I dreamed of life in ancient times."
            -John
        </p>
    </div>
    <div class="towns">
        
        <img src="~/Content/images/travel_photos-3.jpg" style="width: 90%; margin: 20px 20px;" alt="Vietri sul Mare">
        <p>
            "To stand under the dome of Florence's cathedral is to admire the masterpieces created by human hands."
            -Jack
        </p>
    </div>
    <div class="towns">
        
        <img src="~/Content/images/travel_photos-4.jpg" style="width: 90%; margin: 20px 20px;" alt="Amalfi Town">
        <p>
            "The colorful markets on the streets of Rome offer a beautiful slice of the daily life of the city."
            -Daniel
        </p>
    </div>
    <div class="towns">
        
        <img src="~/Content/images/travel_photos-5.jpg" style="width: 90%; margin: 20px 20px;" alt="Ravello">
        <p>"Rome is like a paradise for lovers. There is nothing like walking with your loved one in the shadow of the Colosseum and sharing the magic of history." -Mary</p>
    </div>
    <div class="towns">
        
        <img src="~/Content/images/travel_photos-6.jpg" style="width: 90%; margin: 20px 20px;" alt="Conca dei Marini ">
        <p>"Discovering Milan's modern works of art meant seeing the contemporary face of the city." -Emma</p>
    </div>
    <div class="towns">
        
        <img src="~/Content/images/travel_photos-7.jpg" style="width: 90%; margin: 20px 20px;" alt="Ravello">
        <p>"Riding in a gondola in Venice with my lover was like the moment of my dreams." -Johnson</p>
    </div>
    <div class="towns">
        
        <img src="~/Content/images/travel_photos-8.jpg" style="width: 90%; margin: 20px 20px;" alt="Conca dei Marini ">
        <p>"Walking among the birds in St. Mark's Square in Venice means feeling freedom." -Jenny</p>
    </div>
    <div class="towns">
        
        <img src="~/Content/images/travel_photos-9.jpg" style="width: 90%; margin: 20px 20px;" alt="Ravello">
        <p>"Walking through the ancient ruins of Verona was like taking a journey through history." -Alvin</p>
    </div>
    <div class="towns">
        
        <img src="~/Content/images/travel_photos-10.jpg" style="width: 90%; margin: 20px 20px;" alt="Conca dei Marini ">
        <p>"This tour was amazing experience for me." -Albert</p>
    </div>
    <div class="towns">
        
        <img src="~/Content/images/travel_photos-11.jpg" style="width: 90%; margin: 20px 20px;" alt="Ravello">
        <p>"Walking through the narrow streets of Amalfi, I discovered the beauty of the towns meeting the sea." -Joanna</p>
    </div>
    <div class="towns">
        
        <img src="~/Content/images/travel_photos-12.jpg" style="width: 90%; margin: 20px 20px;" alt="Conca dei Marini ">
        <p>"Watching the sunset in Amalfi was like witnessing the magic of nature." -Sylwia</p>
    </div>
    <div class="towns">
        
        <img src="~/Content/images/travel_photos-13.jpg" style="width: 90%; margin: 20px 20px;" alt="Ravello">
        <p>"Getting lost among the red-roofed houses of Florence made you feel the warmth of Tuscany." -Adam</p>
    </div>
    <div class="towns">
        
        <img src="~/Content/images/travel_photos-14.jpg" style="width: 90%; margin: 20px 20px;" alt="Conca dei Marini ">
        <p>"Traveling in a gondola in Venice means feeling the calmness of the waters." -Kai</p>
    </div>
    <div class="towns">
        
        <img src="~/Content/images/travel_photos-15.jpg" style="width: 90%; margin: 20px 20px;" alt="Ravello">
        <p>"Getting lost among the colorful streets of the Amalfi Coast was like feeling the warmth of the Mediterranean." -Diana</p>
    </div>
    
</div>

